body {
    width: 750px;
}

.top-buffer {
    margin-top:20px;
}

.row-margin-5 {
    margin-top:5px;
}

.row-height-20 {
    height:20px;
}

table.ordersGrid {
    border-collapse: collapse;
    border: 1px solid #CCB;
    width: 100%;
}

table.ordersGrid td, table.ordersGrid th {
    padding: 5px;
    border: 1px solid #E0E0E0;
    text-align: center;
}

table.testgrid th {
    background: #E5E5E5;
    text-align: left;
    text-align: center;
}

input.invalid {
    background: #ff7967;
    color: #FDFDFD;
    text-align: center;
}

.pointer {
    cursor: pointer;
}

.spinner {
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 80px;
    margin: 0 auto;
}

.login-button{
    top: 100px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 492px;
    height: 108px;
    margin: 0 auto;
}

.login-button:hover {
    cursor: pointer;
}

.big-letter {
    margin-bottom: 0px;
    margin-top: 0px;
}

.mtb-10 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-0 {
    margin-bottom: 0px;
}

.w-200 {
    width: 200px;
}

.mr-5 {
    margin-right: 5px;
}

select {
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 16px;
    font-size: 14px;
    line-height: 1.52857143;
    color: #3a3f51;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #dde6e9;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

html {
    height: 0px;
}

.icon-pencil-format {
    float: right;
    font-size: 1.2em;
}